@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

:root{
    --primary-color: #A5C9CA; 
    --background-color: #f9f5f0; /* color de las paginas */
    --dark-color: #0C356A; /* color de las letras */

}

html{
    font-size: 62.5%;
    font-family: 'Popins', sans-serif;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

 /* Utilidades*/
 /*Centrar el contenido*/
.container{
    max-width: 120rem;
    margin: 0 auto;
}

/*Header*/
.container-hero{
  background-color: var(--background-color);
}
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.customer-support {
   display: flex;
   align-items: center;
   gap: 2rem; 
}

.customer-support i{
    font-size: 3.3rem;
}

.content-customer-support{
   display: flex;
   flex-direction: column;
}

.container-logo{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.container-logo i{
    font-size: 3rem;
}

.container-logo h1 a{
    text-decoration: none;
    color: black;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: -1px;
}

.container-user{
    display: flex;
    gap: 1rem;
    cursor: pointer;
}

.container-user .fa-user{
font-size: 3rem;
color: var(--primary-color);
padding-right: 2.5rem;
border-right: 1px solid #e2e2e2;
}

.container-user .fa-basket-shopping{
    font-size: 3rem;
    color: var(--primary-color);
    padding-left: 1rem; 
}


.content-shopping-car{
    display: flex;
    flex-direction: column;
}

/* NAVBAR */

.container-navbar{
    background-color: var(--primary-color);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

/* Funcion que oculta las barras que aparecen en la app del telefono*/
.navbar .fa-bars{
    display: none;
}

.menu{
    display: flex;
    gap: 2rem;
}

.menu li{
   list-style: none; 
}

.menu a{
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--dark-color);
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
}

.menu a::after{
    content:'';
    width: 1.5rem;
    height: 1px;
    background-color: #fff;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%, 50%);
    opacity: 0;
    transition: all .3s ease;
}

.menu a:hover::after{
    opacity: 1;
}

.menu a:hover{
    color: #fff;
}

/* barra busqueda */
.search-form{
    position: relative;
    display: flex;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 2rem;
    background-color: #fff;
    height: 4.4rem;
    overflow:hidden;
}

.search-form input{
    outline: none;
    font-family: inherit;
    border: none;
    width: 25rem;
    font-size: 1.4rem;
    padding: 0 2rem;
    color: #777;
    cursor: pointer;
}

.search-form input::-webkit-search-cancel-button{
    appearance: none;
}

.search-form .btn-search{
    border: none;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1rem;
}

.btn-search{
    font-size: 2rem;
    color: #fff;
}

/* BANNER */
.banner{
    background-image:url('imagenes/banner.jpg');
    height: 80rem;
    background-size: cover;
    background-position: center;
}

.content-banner{
    max-width: 90rem;
    margin: 0 auto;
    padding: 25rem 0;
}

.content-banner p{
  color: #DDF2FD;
  font-size: 5rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-bottom: 1rem;
  font-weight: 500;
  text-shadow: 2px 2px 4px #333;
}

.content-banner a{
    margin-top: 2rem;
    text-decoration: none;
    color: #164863;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    background-color: var(--primary-color);
    display: inline-block;
    padding: 1rem 3rem;
    text-transform: uppercase;
    border-radius: 3rem;

}

.container-items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.item{
    border-radius: 10px;
}

.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.item img{
    width: 90%;
    height: 200px;
    
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item figure{
    overflow: hidden;
}

.item:hover img{
    transform: scale(1.2);
}

.info-product{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price{
    font-size: 18px;
    font-weight: 900;
}

.info-product button{
    border: none;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
}
.btn-comprar {
    background-color: #0074d9; /* Cambia el color de fondo */
    color: #fff; /* Cambia el color del texto */
    padding: 10px 20px; /* Ajusta el relleno interno del botón */
    border: none; /* Elimina el borde */
    border-radius: 5px; /* Agrega esquinas redondeadas */
    cursor: pointer; /* Cambia el cursor al pasar el ratón sobre el botón */
}

/* Estilo al pasar el ratón sobre el botón */
.btn-comprar:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el ratón */
}

 
